html{
    background-color: darkblue;
}

.container{
    margin: 0px auto 0 auto ;
    /* background-color: burlywood; */
    width: 80%;
    height: 300px;
    background-image: linear-gradient(180deg,rgb(0, 0, 255,0),rgb(0, 0, 0,0));
    transition:all 2s ease;
}
.text{
    text-align: center;
    transition: color 1s;
}


.text:hover{
    color: rgb(0, 38, 255);
}
.container:hover{

    background-image: linear-gradient(180deg,rgb(0, 0, 255,0),black);
}